<!DOCTYPE html>
<html lang="en">
<head>
  <title>JChip Game</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="script/bootstrap-5.0.2/css/bootstrap.css" rel="stylesheet">
  <script src="script/bootstrap-5.0.2/js/bootstrap.bundle.min.js"></script>
  <script src="script/angular-1.8.2/angular.min.js"></script>
  <script src="script/angular-1.8.2/angular-cookies.min.js"></script>
  <script src="script/smtp-3.0.0/smtp.js"></script>
  <script src="script/controll/site-module.js"></script>
  <script src="script/controll/site-header.js"></script>
  <script src="script/controll/site-banner.js"></script>
  <script src="script/controll/site-download.js"></script>
  <script src="script/controll/site-other.js"></script>
  <script src="script/controll/site-game.js"></script>
  <script src="script/service/site-smtp.js"></script>
  <script src="script/service/site-game.js"></script>
  <script src="script/site/site-game-min.js"></script>
</head>

<body role=default data-ng-app="site-app" data-ng-controller="site-app-controll">

  <div class="container row bordered">
    <div class="col-sm-12">
      <div data-ng-include="'page/site-header.html'"></div>
    </div>
  </div>

  <div class="container row bordered" data-ng-if="page == 'game'">
    <div class="col-sm-8">
      <div class="pe-0" data-ng-include="'page/site-game.html'"></div>
    </div>
    <div class="col-sm-4">
      <div class="ps-3" data-ng-include="'page/site-banner.html'"></div>
    </div>
  </div>

  <div class="container row bordered" data-ng-if="page == 'download'">
    <div class="col-sm-12">
      <div data-ng-include="'page/site-download.html'"></div>
    </div>
  </div>
  
  <div class="container row bordered" data-ng-if="page == 'other'">
    <div class="col-sm-12">
      <div data-ng-include="'page/site-other.html'"></div>
    </div>
  </div>
  
  <!--
	http://localhost:4200/
	http://localhost:8080/
	https://jchipgame.github.io/
  -->

</body>
</html>
